$primary: #3292a6;
$primary-overlay: rgba(50, 146, 166, .8);

body {
  margin-top: 105px;
}

.navbar {
  box-shadow: 2px 2px 5px $primary;
  opacity: .9;
  background: #fff;

  .nav-item {
    font-size: 1.4rem;
    padding-right: 20px;
  }
}

.showcase {
  background: url('../img/mountains.jpg') no-repeat;
  background-size: cover;
  min-height: 600px;
  position: relative;

  .primary-overlay {
    background: $primary-overlay;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
}

.info-header {
  border-bottom: 1px solid #ddd;
  margin: auto;
  width: 50%;
}

#authors {
  img {
    margin-top: -50px;
  }
  .fa {
    font-size: 25px;
  }
  .card:hover {
    background: $primary;
    color: #fff;

    .fa {
      color: #fff;
    }
    h5.text-muted {
      color: #fff !important;
    }
  }
}
